<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Justin's API</title>
  <link rel="shortcut icon" href="../static/safetyline.ico" type = "image/x-icon"/>

  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap" rel="staticsheet">


</head>

<body>

  <header class="header">
    <img src="../static/logo_safety-line_white.svg" alt="logo" height="60px">
    <br>
    <h1 class=title>Bienvenue <br> sur l'API <br>de Justin</h1>
    <p class="texte">Nous &eacute;sp&eacute;rons que vous trouverez le code clair et lisible. Notre Api vous sera sans doute tr&egrave;s utile</p>
    <div class="img_data">

    </div>

  </header>


</body>
</html>
